@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

ul.topbar {
    z-index: 1;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    border-bottom: 1px solid white;
}

li.link {
    float: left;
}

li.link a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    border-right: 1px solid white;
}

div.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

iframe {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}