@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: 'Fredoka', sans-serif;
}

div#content {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.topbar {
    z-index: 1;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    border-bottom: 1px solid white;
    
}

li.leftlink {
    float: left;
    border-right: 1px solid white;
    list-style-type: none;
}

li.leftlink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white;
}

li.rightlink {
    float: right;
    border-left: 1px solid white;
    list-style-type: none;
}

li.rightlink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid white;
}